<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.6.4" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Composition" version="15.8.98" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Composition.NetFxAttributes" version="15.8.98" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.6.27740" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="15.7.27703" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.7.27703" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="15.3.224" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.ProjectSystem.SDK" version="15.3.224" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.ProjectSystem.SDK.Tools" version="15.3.224" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.33" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.21" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.1.37" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.7.27703" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.7.27703" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30111" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.26929" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26929" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.6.DesignTime" version="15.6.27413" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30730" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.6.27740" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.6.27740" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.6.27740" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.6.27740" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Threading" version="15.8.132" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.132" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.7.27703" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net471" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.8.3247" targetFramework="net471" developmentDependency="true" />
  <package id="MvvmLightLibs" version="5.4.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="StreamJsonRpc" version="1.4.121" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net471" />
  <package id="System.Composition" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.AttributedModel" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.Convention" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.Hosting" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.Runtime" version="1.2.0" targetFramework="net471" />
  <package id="System.Composition.TypedParts" version="1.2.0" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>