<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.6.4" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net462" />
  <package id="Shouldly" version="2.8.3" targetFramework="net462" />
</packages>