<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="15.8.243" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.9.28307" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.209" targetFramework="net471" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net471" />
</packages>